.cartItem__rating{
    display: flex;
    flex-direction: row;
}
.cartItem{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.cartItem__info{
    padding: 15px;
}
.cartItem__remove {
   
    display: inline-block;
    border-radius: 4px;
    background-color: #ff8800;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    
    width: 300px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.cartItem__remove span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
}
.cartItem__remove span:after{
    content: '\00D7';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    
}
.cartItem__remove:hover span{
    padding-right: 25px;
}
.cartItem__remove:hover span:after{
    opacity: 1;
    right: 0;
}
.cartItem__remove button:hover{
    cursor: pointer;
    background-color: #FFA200;
}
.cartItem__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.cartItem__title{
    font-size: 17px;
    font-weight: 600;
}