.product{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: #ffffff;
    z-index: 1;
   
}
.product img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    z-index: 0;
}
.product__rating{
    display: flex;
    flex-direction: row;
}
.product__info{
    top: 0;
    margin-bottom: 25px;
    height: 100px;
    z-index: 1;
}
/* .product__price{
    margin-top: 7px;
} */
.product__add {
   
    display: inline-block;
    border-radius: 4px;
    background-color: #ff8800;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    
    width: 300px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.product__add span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
}
.product__add span:after{
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    
}
.product__add:hover span{
    padding-right: 25px;
}
.product__add:hover span:after{
    opacity: 1;
    right: 0;
}
.product button:hover{
    cursor: pointer;
    background-color: #FFA200;
}
.product{
    transition: 1s ease;
}
.product:hover{
    transform: scale(1.05);
    transition: 1s ease;
}