.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-weight: 400;
}
.subtotal__proceed{
    background-color: #FFD814;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111;
    border-radius: 15px;
    padding: 5px;
}
.subtotal__proceed:hover{
    cursor: pointer;
    background-color: #FFA200;
}
.subtotal__gift{
    font-weight: 400;
    font-size: 14px;
}
.subtotal__gift input{
    margin-right: 5px;
}